html, body, page, section {
  width: 100%;
  height: 100%;
  position: relative;
}
body {
  font-family: main-ff;
}
a, a:hover {
  text-decoration: none;
}
a, a:hover, a:visited {
  color: #0087d5;
}
button, button:hover, button:active, button:focus {
  outline: none;
  border 0
  cursor pointer
}

//@font-face {
//  font-family: 'rubik-medium-webfont';
//  src: url('../fonts/rubik-medium-webfont.eot');
//  src: url('../fonts/rubik-medium-webfont.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/rubik-medium-webfont.woff2') format('woff2'),
//       url('../fonts/rubik-medium-webfont.woff') format('woff'),
//       url('../fonts/rubik-medium-webfont.ttf') format('truetype')
//  font-weight: regular;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'rubik-light-webfont';
//  src: url('../fonts/rubik-light-webfont.eot');
//  src: url('../fonts/rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/rubik-light-webfont.woff2') format('woff2'),
//       url('../fonts/rubik-light-webfont.woff') format('woff'),
//       url('../fonts/rubik-light-webfont.ttf') format('truetype')
//  font-weight: light;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'rubik-bold-webfont';
//  src: url('../fonts/rubik-bold-webfont.eot');
//  src: url('../fonts/rubik-bold-webfont.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/rubik-bold-webfont.woff2') format('woff2'),
//       url('../fonts/rubik-bold-webfont.woff') format('woff'),
//       url('../fonts/rubik-bold-webfont.ttf') format('truetype')
//  font-weight: bold;
//  font-style: normal;
//}