.wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 1170px;
}
.clearfix:after {
  content: '.';
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
}
.hidden {
  display: none !important;
}
.flex {
  display flex
  justify-content center
  align-items center
}